@media screen and (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  /* Match max-width of .nav-bar query. */
  body {
    margin-top: 51px;
    /* Offset body content by navbar height. */
  }
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 70px;
  }
  .home-section {
    padding: 60px 0 60px 0;
  }
  .home-section:first-of-type {
    padding-top: 40px;
  }

  .nav-details {
    display: none;
  }
}

@media screen and (max-width: 664px) {
  /* font-size: 1vw; */
  body {
    margin-top: 90px;
    /* Offset body content by navbar height. */
  }
}

@media screen and (max-width: 605px) {
  /* font-size: 1vw; */
  body {
    margin-top: 125px;
    /* Offset body content by navbar height. */
  }
}

@media screen and (min-width: 474px) {
  font-size: 1vw;
}

@media screen and (max-width: 474px) {
  /* font-size: 1vw; */
  body {
    margin-top: 124px;
    /* Offset body content by navbar height. */
  }
}

@media screen and (max-width: 426px) {
  /* font-size: 1vw; */
  body {
    margin-top: 164px;
    /* Offset body content by navbar height. */
  }
}
